# ZuckPay
ZUCKPAY_CLIENT_ID=tropadofafa06_7488061169
ZUCKPAY_CLIENT_SECRET=f6ba2efc879d6f6a387747bb111facbdbb9952c3fae58761b1400327b138d228
ZUCKPAY_WEBHOOK_SECRET=zpws_eb2dd20def517d12cb4c79227ca75c64b7542ffa2933e06a

# Utmify
UTMIFY_API_TOKEN=sIWeIwgJxGENf8BGyDht4MMqQAw9LieogPML

# Google Ads (futuro)
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
